TELEGRAM_BOT_TOKEN=your_bot_token_here #BOT TOKEN FROM BOTFATHER
DATABASE_URL=postgresql://user:password@localhost:5432/nearbuilders #POSTGRES LOCAL INSTALL
NEARBUILDERS_API_URL=https://nearbuilders.org/api/proposals #POST
NEARBUILDERS_API_KEY=your_key #API KEY FROM NEARBUILDERS WEB UI DASHBOARD
